.wp-block-buttons {
    margin-top: calc($block_padding / 2);

    @media(max-width: 960px) {
        margin-top: calc($block_padding / 4);
    }

    .wp-block-button {
        background: none;
        transition: all ease 250ms;
        position: relative;

        a {
            font-weight: 700;
        }

        &.is-style-fill {

            .wp-block-button__link {
                position: relative;
                z-index: 1;


                // Purple
                &.has-purple-background-color {

                    &:hover {
                        background: lighten($purple, 7.5%);
                    }
                }

                // Yellow
                &.has-yellow-background-color {
                    // background: $yellow;
                    // position: relative;
                    // z-index: 1;

                    &:hover {
                        background: lighten($yellow, 7.5%);
                    }
                }
            }
        }

        &.is-style-outline {
            &:hover {
                background: currentColor;
                border-top-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
        }

        &.is-style-primary-button {
            position: relative;
            a {
                position: relative;
                background: rgb(255, 255, 255);
                border-radius: 100px;
                color: black;
                transition: all ease 250ms;
                &:before {
                    content: "";
                    position: absolute;
                    top: -0.5em;
                    left: -0.5em;
                    width: calc(100% + 1em);
                    height: calc(100% + 1em);
                    background: none;
                    border-radius: 100px;
                    border: 2px solid white;
                    transition: all ease 100ms;
                }
                &:hover {
                    background: rgba(255,255,255,0.7);

                    &:before {
                        outline: 2px solid white;
                    }
                }
            }
        }

        .wp-block-button__link {
            font-family: $primary-font;
            border-radius: 0;
            transition: all ease 250ms;
        }
    }
}