header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: $header_height_desktop;
    background: $white;
    z-index: 999;

    @media(max-width: 768px) {
        height: $header_height_mobile;
    }

    .wrapper {
        position: relative;
        height: 100%;

        .alignwide {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            height: 100%;
            padding: 0 0;

            @media(max-width: $align-wide-width) {
                padding: 0 calc($block_padding / 1);
            }

            @media(max-width: 960px) {
                padding: 0 calc($block_padding / 4);
            }

            .logo {
                width: 75px;
                color: $dark;
                text-decoration: none;
                line-height: 100%;
                margin-bottom: 0;

                &:hover {
                    text-decoration: underline;
                }
            }

            .logo-byn {
                position: relative;
                width: 150px;
                height: auto;
                // background: red;

                img {
                    position: relative;
                    width: 250px;
                    top: 0px;

                    @media(max-width: 768px) {
                        width: 70px;
                    }
                }
            }

            .main-navigation {
                .burger-wrapper {
                    width: 30px;
                    height: 20px;
                    display: none;
                    position: relative;
                    cursor: pointer;

                    @media(max-width: 960px) {
                        display: block;
                    }

                    .line {
                        position: absolute;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background: $dark;

                        &:nth-child(1) {
                            top: 0;
                        }
                        &:nth-child(2) {
                            top: 50%;
                            margin-top: -1px;
                        }
                        &:nth-child(3) {
                            bottom: 0;
                        }
                    }
                }
                .menu {
                    display: block;
                    
                    @media(max-width: 960px) {
                        opacity: 0;
                        position: fixed;
                        left: 0;
                        background: $dark;
                        width: 100%;
                        top: $header_height_desktop;
                        // height: calc(100vh - $header_height_desktop * 2);
                        height: 100vh;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transform: translateY(-1em);
                        opacity: 0;
                        transition: all ease 350ms;
                        pointer-events: none;
                        z-index: -1;

                        @media(max-width: 768px) {
                            top: $header_height_mobile;
                            // height: calc(100vh - $header_height_mobile * 2);
                        }
                    }

                    &.active {
                        opacity: 1;
                        transform: translateY(0em);
                        pointer-events: initial;
                    }

                    ul {
                        display: flex;

                        @media(max-width: 960px) {
                            flex-wrap: wrap;
                            margin: 0;
                            padding: 0;
                        }

                        li {
                            list-style: none;
                            margin-left: 2em;

                            @media(max-width: 960px) {
                                width: 100%;
                                margin: 0 0 1em 0;
                                text-align: center;

                                &:last-of-type {
                                    margin-bottom: 0;
                                }
                            }

                            &:first-of-type {
                                margin: 0;

                                @media(max-width: 960px) {
                                    margin: 0 0 1em 0;
                                }
                            }

                            a {
                                text-decoration: underline;
                                color: $dark;

                                @media(max-width: 960px) {
                                    @include h3;
                                    color: $white;
                                }
                            }

                            &.current_page_item {
                                
                                a {
                                    color: $purple;

                                    @media(max-width: 960px) {
                                        color: $purple;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}