// Yellow
.has-yellow-background-color {
    background: $yellow;
}
.has-yellow-color {
    color: $yellow;
}

// Purple
.has-purple-background-color {
    background: $purple;
}
.has-purple-color {
    color: $purple;
}