$dark: #3C3C3C;
$white: #FAFAFA;

$yellow: #FFE87E;
$purple: #3434B3;

$accent_1: #FFEBA5;
$accent_2: #FFD5A5;
$accent_3: #FFBAA5;

$sm-margin: 1.25em;
$md-margin: 2.5em;
$lg-margin: 5em;

$block_padding: 100px;

@mixin block_padding {
    padding: $block_padding;

    @media(max-width: $width) {
        padding: calc($block_padding / 2);
    }
}