.wp-block-columns {
    margin-bottom: 0;
    padding-bottom: 0;

    &.alignwide {

        @media(max-width: $align-wide-width) {
            padding: 0 50px;
        }
    }
    
    .wp-block-column {
        padding-bottom: 30px;

        h3, h4, h5, h6, p, .wp-block-buttons {
            padding: 0 30px;
        }
    }
}