@charset "UTF-8";
.edit-post-visual-editor__post-title-wrapper {
  background: #f2f2f2;
  margin: 0 !important;
  padding: 1em;
}
.edit-post-visual-editor__post-title-wrapper h1 {
  color: #484848;
  font-weight: 700;
}
.edit-post-visual-editor__post-title-wrapper h1:before {
  content: "Fyll i titel på sidan";
  text-decoration: underline;
  text-underline-offset: 0.2em;
  display: block;
  width: 100%;
  font-size: 12px;
  font-weight: 300;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body .is-layout-flow > * + * {
  margin-block-start: 0;
  margin-block-end: 0;
}

img.image-colors {
  width: 100%;
  height: auto;
}

.dots {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 10em;
}
.dots .dot {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.wp-post-image {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.15) !important;
}

.image-color img {
  box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.15) !important;
}

@media (max-width: 600px) {
  .wp-block-cover {
    min-height: auto !important;
    padding: 5em 0 !important;
  }
}

@media (max-width: 600px) {
  article > div {
    margin-bottom: 4em !important;
  }
}

@media (max-width: 600px) {
  .wp-block-media-text .wp-block-media-text__media {
    margin-bottom: 1em;
  }
}
@media (max-width: 600px) {
  .wp-block-media-text .wp-block-media-text__content {
    padding: 0;
  }
}

@media (max-width: 600px) {
  .wp-block-group.has-background {
    padding: 2em !important;
  }
}

@media (max-width: 600px) {
  .wp-block-column {
    margin-bottom: 2em !important;
  }
  .wp-block-column:last-of-type {
    margin-bottom: 0 !important;
  }
}

@media (max-width: 600px) {
  figure {
    margin-bottom: 1em !important;
  }
}

.wp-block-buttons {
  margin-top: 1em !important;
}

main {
  margin-top: 70px;
}

#overlay {
  position: fixed;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  transition: all ease 250ms;
  background: rgba(0, 0, 0, 0);
  pointer-events: none;
}
#overlay.is-active {
  background: rgba(0, 0, 0, 0.5);
  pointer-events: initial;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  position: fixed;
  transition: all ease 250ms;
  background: white;
  z-index: 2;
  top: 0;
}
header .alignwide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 1440px) {
  header .alignwide {
    margin: 0 1em;
  }
}
header .alignwide.is-active {
  z-index: 3;
}
header .alignwide .logo {
  position: relative;
  z-index: 2;
  color: black;
  display: flex;
  align-items: center;
}
header .alignwide .logo img {
  width: 50px;
  height: auto;
}
header .alignwide nav#main-nav {
  position: relative;
  z-index: 2;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  transition: all ease 250ms;
}
header .alignwide nav#main-nav .menu {
  display: flex;
}
header .alignwide nav#main-nav .menu ul {
  display: flex;
}
header .alignwide nav#main-nav .menu ul li {
  list-style: none;
  margin-left: 1em;
  position: relative;
}
header .alignwide nav#main-nav .menu ul li a {
  text-decoration: none;
  font-weight: 500;
  color: var(--wp--preset--color--ux-dark-gray);
  opacity: 0.5;
}
header .alignwide nav#main-nav .menu ul li.current_page_item a {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-decoration-thickness: 2px;
}
@media (max-width: 600px) {
  header .alignwide nav#main-nav .menu {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
    opacity: 0;
    transition: all ease 250ms;
    pointer-events: none;
    transform: translateY(-2em);
    font-size: 24px;
  }
  header .alignwide nav#main-nav .menu ul {
    display: flex;
    flex-wrap: wrap;
    width: auto;
  }
  header .alignwide nav#main-nav .menu ul li {
    width: 100%;
    text-align: center;
    margin: 0 0 0.2em 0;
  }
}
header .alignwide nav#main-nav.is-active .menu {
  transform: translateY(0);
  opacity: 1;
  pointer-events: initial;
}
@media (max-width: 600px) {
  header .alignwide nav#main-nav.is-active .menu {
    opacity: 1;
  }
}
header .alignwide nav#main-nav .toggle {
  display: none;
}
@media (max-width: 600px) {
  header .alignwide nav#main-nav .toggle {
    display: flex;
    flex-wrap: wrap;
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
  }
  header .alignwide nav#main-nav .toggle span {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
    font-family: var(--wp--preset--font-family--space-grotesk);
  }
  header .alignwide nav#main-nav .toggle .line-wrapper {
    width: 100%;
    height: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0.5em;
  }
  header .alignwide nav#main-nav .toggle .line-wrapper .line {
    width: 100%;
    height: 3px;
    background: black;
    transition: all ease 250ms;
  }
  header .alignwide nav#main-nav .toggle .line-wrapper .line.top {
    width: 80%;
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: auto;
}
main article {
  width: 100%;
  margin: 0 0;
}
@media (max-width: 1024px) {
  main article {
    width: calc(100% - 2em);
    margin: 0 1em;
  }
}

.alignfull {
  max-width: 100%;
}

.alignwide {
  max-width: var(--wp--style--global--wide-size);
  margin: 0 auto;
}
.is-layout-constrained:not(.alignwide, .alignfull) {
  max-width: var(--wp--style--global--content-size);
  margin: auto;
}
@media (max-width: 800px) {
  .is-layout-constrained:not(.alignwide, .alignfull) {
    margin-left: 1em;
    margin-right: 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
