* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--wp--preset--font-family--overpass);
}

.edit-post-visual-editor__post-title-wrapper {
    background: #f2f2f2;
    margin: 0!important;
    padding: 1em;
    
    h1 {
        color: #484848;
        font-weight: 700;
        
        &:before {
            content: "Fyll i titel på sidan";
            text-decoration: underline;
            text-underline-offset: 0.2em;
            display: block;
            width: 100%;
            font-size: 12px;
            font-weight: 300;
        }
    }
}

article {
    p {
        margin-bottom: 1em;
    }
}

section {
    margin-bottom: 2em;

    h5 {
        // 
    }
}